<!DOCTYPE html>
<html ng-app="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>todoList</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<style>
    
</style>
<body ng-controller="TaskCtrl">
    <div class="input-group">
    <input type="text" class="from-control" ng-model="task">
    <span class="input-group-btn">
        <button class="btn btn-default" ng-click="add()">提交</button>
    </span>
    </div>
<!-- 任务列表 -->
<h4 ng-hide="tasks.length>0">任务列表</h4>
<ul class="list-group">
    <li class="list-group-item" ng-repeat="item in tasks track">{{item}}
    </li>
</ul>

<script src="./js/angular.min.js"></script>
<script type="text/javascripts">


</script>
</body>
</html>